/* SCSS HEX */
* {
  font-family: "Montserrat", serif;
  color: #373d20;
}

img {
  width: 40px;
  height: 40px;
}
@media only screen and (min-width: 601px) {
  img {
    width: 30px;
    height: 30px;
  }
}

body {
  display: flex;
  justify-content: center;
  background-image: url(./content/background.png);
  background-size: calc(100vw + 100vh);
}

button {
  background-color: #373d20;
  color: #eff1ed;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
}
@media only screen and (min-width: 601px) {
  button {
    font-size: 18px;
  }
}

.headingContainer {
  display: flex;
  align-items: center;
}
.headingContainer__mainHeading {
  font-family: "Italiana", serif;
  font-weight: 400;
  font-size: 28px;
  font-style: normal;
  margin: 5px;
}
@media only screen and (min-width: 601px) {
  .headingContainer__mainHeading {
    font-size: 72px;
  }
}
.headingContainer__icon {
  height: 50px;
  width: 50px;
}

.mainHeading {
  font-family: "Italiana", serif;
  font-weight: 400;
  font-size: 28px;
  font-style: normal;
  margin: 5px;
}
@media only screen and (min-width: 601px) {
  .mainHeading {
    font-size: 72px;
  }
}
.mainHeading__subheading {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin: 30px 0px 30px 0px;
}
@media only screen and (min-width: 601px) {
  .mainHeading__subheading {
    font-size: 36px;
  }
}

.toDoListContainer {
  width: 60vw;
  height: 70vh;
  background-color: #eff1ed;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  display: flex;
  background-color: rgb(200, 200, 179);
  border-radius: 20px;
}
.inputContainer__addBtn {
  background-color: #373d20;
}
.inputContainer__input {
  flex: 1;
  border: 0pt;
  padding: 10px;
  outline: none;
  background-color: transparent;
  border-radius: 20px;
  color: #373d20;
  font-size: 12px;
}
@media only screen and (min-width: 601px) {
  .inputContainer__input {
    font-size: 18px;
  }
}

.api {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  font-size: 2.5vw;
}
.api__btn {
  font-weight: 500;
  font-size: 12px;
}
@media only screen and (min-width: 601px) {
  .api__btn {
    font-size: 20px;
  }
}
.api__joke {
  margin: 5px;
  font-size: 16px;
  text-align: center;
  color: #766153;
  justify-content: center;
}
@media only screen and (min-width: 601px) {
  .api__joke {
    font-size: 24px;
  }
}

li {
  list-style: none;
  padding: 5px 30px 5px 0px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
li::before {
  content: " ";
  position: absolute;
  height: 20px;
  width: 20px;
  background-image: url(./content/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 5px;
  left: -25px;
}

li.checked {
  text-decoration: line-through;
  color: sage;
}
li.checked::before {
  background-image: url(./content/checked.png);
  background-size: cover;
  background-position: center;
  height: 20px;
}

li span {
  position: absolute;
  right: 0;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
}
li span:hover {
  background-color: #bcbd8b;
}
